<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies</h1>
    <p><%= link_to "Sign Up To Rate The Movie", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<%= form_tag(movies_path, method: :get, class: 'mb-5') do %>
  <div class='d-flex mb-3'>
    <div class="form-group p-1">
      <label class="mb-1">Category:</label>
        <%= select_tag :category, options_for_select( Movie.all.map { |m| m.category }.uniq), class: "form-select" %>
        <%= submit_tag 'Apply Filters' , name: nil, class: 'btn btn-secondary' %>
    </div>
  </div>
<%  end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag movie.image, size: "450x600" %>
        <%= link_to movie.title, movie_path(movie), class: 'btn btn-secondary btn-sm', :method => :get %>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate %>